{% extends 'base.html' %}

{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Add Book</h2>
  <style>
    .add-book-form {
      max-width: 400px;
      margin-top: 20px;
    }

    .add-book-form label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .add-book-form input[type="text"],
    .add-book-form input[type="file"],
    .add-book-form select {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .add-book-form button[type="submit"] {
      display: inline-block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .add-book-form button[type="submit"]:hover {
      background-color: #050505;
    }
  </style>
  <form method="post" enctype="multipart/form-data" class="add-book-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
  </form>
{% endblock %}