{% extends 'base.html' %}

{% block content %}
  <h1>Cart</h1>
  
  {% if cart %}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for book in cart %}
          <tr>
            <td>{{ book.title }}</td>
            <td>${{ book.price }}</td>
            <td>
              <a href="{% url 'remove_from_cart' book.id %}">Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Total Price:</td>
          <td>${{ cart|total_price }}</td>
        </table>
  </tfoot>
</table>
{% else %}
  <p>No items in the cart.</p>
{% endif %}
{% endblock %}